/*
* @Author: Marte
* @Date:   2019-05-29 22:35:23
* @Last Modified by:   Marte
* @Last Modified time: 2019-06-05 23:31:52
*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
}


/* 导航栏 */
.head {
    height: 85px;
}

.inner {
    width: 1200px;
    height: 85px;
    margin: 0 auto;
    line-height: 85px;
}

.inner .logo {
    float: left;
    margin-top: 10px;
    margin-left: 5px;
}

.inner .title {
    float: left;
    margin-top: 8px;
    margin-left: 20px;
}

.nav {
    float: right;
}

.nav li  {
    float: left;
    margin: 0 20px;
}
.nav li a {
    color: #92D050;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: all 0.5s;
}
.nav li a:hover {
    color: #FF7F50;
}


/*  banner栏  */
.banner {
    width: 100%;
    height: 500px;
    background: url(../images/banner2.jpg) no-repeat center;
    position: relative;
}

.inner-banner {
    width: 900px;
    height: 400px;
    position: absolute;
    top: 60px;
    left: 50%;
    margin-left: -450px;
}

.inner-banner .title {
    font-size: 60px;
    text-align: center;
    color: #fff;
    margin-bottom: 37px;
    letter-spacing: 1px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

.inner-banner .literature {
    margin-top: 130px;
    text-align: center;
    font-size: 35px;
    color: rgb(202, 201, 201);
    letter-spacing: 1.5px;
    padding: 0px 55px;
}

/*  container栏  */
.container {
    width: 100%;
    height: 500px;
    margin: 50px 0;
    background-color: #E9EEF4;
}

.inner-con {
    width: 1180px;
    height: 500px;
    margin: 0 auto;
}

.inner-con img {
    float: left;
}

.advice {
    width: 640px;
    float: right;
    margin: 20px;
}

.advice h3 {
    font-size: 25px;
    letter-spacing: 3px;
    color: #ffa81d;
    margin-bottom: 20px;
}

.advice p {
    color: #545151;
    margin: 16px 0 25px;
    letter-spacing: 1px;
}

/*  main栏  */
.main {
    width: 100%;
    height: 750px;
    margin-top: 50px;
}

.inner-main {
    width: 1200px;
    height: 700px;
    margin: 0 auto;
}

.inner-main h4 {
    color: #000;
    font-size: 56px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 2px;
    font-style: italic; /* 斜体 */
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2); /* 垂直阴影2px 阴影尺寸5px 再设置0.2的透明度 */
}

.more {
    width: 50px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #ccc;
    text-align: center;
    margin-left: 1150px;
    line-height: 30px;
    margin-top: 15px;
}

.more a {
    text-decoration: none;
    font-size: 14px;
    color: #423834 ;
}

.more:hover {
    background-color: #ffa81d;
    color: #fff;
    -webkit-transition: all 0.5s; //默认值就为ease 鼠标放上去动画开始的时间
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
}

.hide {
    width: 300px;
    height: 300px;
    position: absolute;
    padding: 32px;
    background: rgba(26,21,18, 0.5);
    opacity: 0;
    -webkit-transition: all 0.5s ease 0s; //默认值就为ease 鼠标放上去动画开始的时间
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.hide h3 {
    font-size: 24px;
    color: #fff;
    letter-spacing: 2px;
    margin-top: 190px;
}

.hide p {
    margin-top: 15px;
    font-size: 14px;
    color: #fff;
    letter-spacing: 1.5px;
}

.hide:hover {
    opacity: 1;
}

.clearfix:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
}

.clearfix {
        *zoom: 1;
}

.left {
    float: left;
}

.mid {
    float: left;
}

.right {
    float: left;
}

.beside {
    float: left;
}
.left-top {
    width: 300px;
    height: 300px;
    position: relative;
    top: 30px;
    background: url(../images/m1.jpg) no-repeat center;
}

.left-bottom {
    width: 300px;
    height: 300px;
    position: relative;
    top: 30px;
    background: url(../images/m2.jpg) no-repeat center;
}

.mid-top {
    width: 300px;
    height: 300px;
    position: relative;
    top: 30px;
    background: url(../images/m3.jpg) no-repeat center;
}

.mid-bottom {
    width: 300px;
    height: 300px;
    position: relative;
    top: 30px;
    background: url(../images/m4.jpg) no-repeat center;
}

.right-top {
    width: 300px;
    height: 300px;
    position: relative;
    top: 30px;
    background: url(../images/m5.jpg) no-repeat center;
}

.right-bottom {
    width: 300px;
    height: 300px;
    position: relative;
    top: 30px;
    background: url(../images/m6.jpg) no-repeat center;
}

.beside-top {
    width: 300px;
    height: 300px;
    position: relative;
    top: 30px;
    background: url(../images/m7.jpg) no-repeat center;
}

.beside-bottom {
    width: 300px;
    height: 300px;
    position: relative;
    top: 30px;
    background: url(../images/m8.jpg) no-repeat center;
}

/* footer栏 */
.footer {
    width: 100%;
    height: 300px;
    margin-top: 40px;
    background-color: #F0F3EF;
}
.footer-hd {
    width: 100%;
    height: 180px;
    border-bottom: 1px solid #dedede;
    position: relative;
}

.guide-left {
    width: 200px;
    height: 150px;
    position: absolute;
    top: 25px;
    left: 100px;
}

.guide-mid {
    width: 200px;
    height: 150px;
    position: absolute;
    top: 25px;
    left: 450px;
}

.guide-right{
    width: 200px;
    height: 150px;
    position: absolute;
    top: 25px;
    left: 800px;
}

.footer-hd dt {
    font-weight: 700;
    font-size: 18px;
    color: #6E6E6E;
    margin-bottom: 10px;
}

.footer-hd a {
    margin-top: 10px;
    text-decoration: none;
    display: block;
    height: 12px;
    color: #959695;
    font-size: 14px;
}

.footer-hd a:hover {
   color: #FF7F50;
}

.footer-bd {
    width: 100%;
    height: 100px;
}

.footer-bd .first {
    width: 1100px;
    color: #999;
    font-size: 14px;
    margin: 15px auto 0;
    letter-spacing: 0.5px;
}

.footer-bd .second {
    width: 636px;
    color: #999;
    font-size: 14px;
    margin: 5px auto 0;
    letter-spacing: 0.5px;
}

.footer-bd a {
    text-decoration: none;
    font-size: 14px;
    color: #999;
}

.footer-bd a:hover {
    color: #FF7F50;
}